body {
    background-color: black;
}

.gifbutton {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.modal-lg {
    max-width: 1000px;
}

.card-img-top {
    margin-top: 2px;
}


/* .card-columns {
      column-count: 4;
    } */
